<!-- Services Section -->
<section id="intro" class="intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="section-heading text-center">Why Design Leaders?</h2>
        <p class="large">Design leadership can be hard &#8212; especially if you’ve not done it before. As the design practice evolves from a nice-to-have to a key strategic value for organizations, we want to foster a community where leaders can learn from one another. We will give designers an inspiring and transformative experience that will help them learn what to learn, to build their personal tool-set of skills and values, and to grow their professional networks.</p>

        <h3>Ideal for</h3>
        <p>Senior- and lead-level practitioners and managers who want to influence, inspire, oversee design direction, and instil a culture of design within their organizations.</p>

        <h3>Topics</h3>
        <h4>The importance of empathy in leadership</h4>
        <ul>
          <li>
            How design leaders are uniquely positioned to foster a healthy environment through the same practices we use to solve design problems.
          </li>
          <li>
            Hiring based on strengths and weaknesses.
          </li>
          <li>
            Resolving conflict using empathy.
          </li>
          <li>
            Stop trying to convince or persuade - meet people where they are.
          </li>
        </ul>

        <h4>Woman in Leadership</h4>
        <ul>
          <li>
            Understand the challenges of leadership in design, learn how to overcome them and interact and connect with the other local leaders.
          </li>
          <li>
            Meet old and new friends.
          </li>
          <li>
            Come prepared with ideas you’d like to share and open for discussion with others.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
