<aside class="sponsors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="section-heading text-center">Sponsors</h2>
        <p>
          These great sponsors help us make Design Leadership possible. These organizations see the value in design and design leadership!
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6">
        <a href="https://about.gitlab.com/" class="portfolio-link">
          <img src="{{ site.url }}{{ site.baseurl }}/css/2017_style/img/logos/gitlab.svg" class="img-responsive img-centered sponsor-img" alt="GitLab">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="https://www.effectory.nl/" class="portfolio-link">
          <img src="{{ site.url }}{{ site.baseurl }}/css/2017_style/img/logos/effectory.svg" class="img-responsive img-centered sponsor-img" alt="Effactory">
        </a>
      </div>
    </div>
  </div>
</aside>
