<!DOCTYPE html>
<html>

{% include 2017_data/head.html %}

<body id="page-top" class="index">

  {% include 2017_data/header-home.html %}

  <!-- Header -->
  <header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">Bringing design leaders together</div>
        <h1 class="intro-lead-in">Design Leadership<br> Summit Amsterdam</h1>
        <p>
          <b><u>July 25, 2019</u></b> at <b><u>Effectory</u></b>
        </p>
        <p class="intro-lead-out">
          The Ladies that UX Amsterdam Design Leadership Summit brings together folks leading design teams for a one day event of learning, inspiration, and networking.
        </p>
        <a href="#" class="page-scroll btn btn-xl">Register</a>
      </div>
    </div>
  </header>

  {% include 2017_data/intro.html %}
  {% include 2017_data/speakers.html %}
  {% include 2017_data/sponsors.html %}
  {% include 2017_data/footer.html %}
  {% include 2017_data/speakers_info.html %}
  {% include 2017_data/js.html %}

</body>

</html>
